html {
    max-width: 1400px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 30px 10px 30px;
}

h1,
h2 {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    margin: 20px 0 0 20px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

/* header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

nav img {
    width: 71px;
    height: 31px;
    margin: 20px 10px 20px 20px;
    object-fit: contain;
}

nav ul {
    display: flex;
}

nav li {
   
    padding: 20px 30px 20px 30px;
    list-style: none;
}

nav a {
    color: black;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
}

nav li:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

nav a:hover {
    color:#0065FC;
}

img {
    object-fit: cover;
}

/* header */

.intro-section {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.intro-section p {
    margin: 10px 0 20px 0;
    width: 100%;
}


/* Formulaire de recherche */


#container-recherche-hebergement {
    width: 100%;
}

.formulaire-recherche {
    display: flex;
    justify-content: flex-start;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
}




.icone-localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.icone-localisation a {
    color: black;
}

#button-rechercher {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: #0065FC;
    border: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#logo-rechercher {
    width: 49px;
    height: 49px;
    font-size: 17px;
    background-color: #0065FC;
    border: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
}

#logo-recherche ::before {
    position: relative;
}

#champ-recherche {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-left: 10px;
    border-right: none;
    border-left: none;
    border-top: 1.5px solid #F2F2F2;
    border-bottom: 1.5px solid #F2F2F2;
}

::placeholder {
    color: black;
}

input {
    outline: none;
}

/* fin formulaire recherche*/
/* debut filtre recherche*/

.container-filtre-recherche {
    width: 72%;
    height: fit-content;
    display: flex;
    align-items: center;
    font-weight: bolder;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.container-filtre-recherche p {
    
    display: flex;
    flex-wrap: nowrap;
    margin-left: 12px;
}

.bloc-filtre {
    width: fit-content;
    min-width: fit-content;
    height: 50px;
    padding: 0 10px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: ;
    border-style: solid;
    border-color: #D9D9D9;
    border-width: 2px;
    border-radius: 50px;
}

.bloc-filtre:hover {
    background-color: #DEEBFF;
}

.bloc-filtre p {
    width: 100%;
    margin-top: 15px;
}

.bloc-filtre i {
    text-align: left;
    color: #0065FC;
    font-size: 18px;
    width: 25px;
    min-width: none;
    height: auto;
    margin: auto;
    padding: 10px
}

/* fin filtre recherche*/
/* debut partie bas header */

.phrase-info {
    width: 97%;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    margin: 10px 20px 20px 10px;
}

.phrase-info i {
    font-size: 14px;
    color: #0065FC;
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    border-radius: 50px;
    border-color: lightgrey;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phrase-info p {
    font-size: 16px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

/* fin partie bas header */
/* debut section hebergement */

section {
    width: 65%
}

.section-hebergement-aside {
    display: flex;
    justify-content: space-around;
}

.section-hebergement {
    width: 100%;
    height: 612px;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-hebergement h2 {
    width: 100%;
    height: 26px;
    padding: 0px 0 20px 0;
}

.section-hebergement a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}

.section-hebergement a:hover {
    color: #0065FC
}

.hotel-marseille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 204px;
    background: white;
    border-radius: 20px;
    width: 30%;
   
    box-shadow: 4Px 4px 15px rgba(0, 0, 0, 0.2);
    margin: 5px;
}


.hotel-marseille img {
    width: 96%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 5px;
    margin-top: 0px;
}

span {
    color: #DEEBFF;
}

.text-hebergement {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text-herbergement p {
    margin-top: 10px;
}

.hotel-marseille h4 {
    font-size: 15px;
    font-weight: 700;
}

.hotel-marseille p {
    font-size: 14px;
}


.rating-hebergement {
    font-size: small;
    color: #0065FC;
    margin-top: 2px;
}

/* fin section hebergement */



/* debut section populaire */

aside {
    width: 30%;
    height: 612px;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section-hotel-populaire {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.titre-aside {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titre-aside ::before {
    position: relative;
    top: 22px;
    right: 25px;
    color: #0065FC;
}

.hotel-populaire {
    width: 90%;
    height: 150px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 15px 10px 15px 10px;
    box-shadow: 4Px 4px 15px rgba(0, 0, 0, 0.2);
}

.hotel-populaire img {
    width: 35%;
    height: 140px;
    display: flex;
    border-radius: 20px 0px 0px 20px;
    margin: 5px;

}

.right-bloc-populaire {
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.comment-hotel h4 {
    margin: 15px 10px 0 10px;
}

.comment-hotel p {
    margin: 10px 0 10px 10px;
}

.rating-populaire {
    font-size: small;
    color: #0065FC;
    margin: 0 0 10px 10px
}

/* fin partie hotel populaire */
/* debut section activité */

#activites {
    width: 98%;
    margin-left: 10px;
}

.section-activites {
    display: flex;
    justify-content: space-around;
}

.titre-activites {
    margin: 50px 0 20px 0;
}

.bloc-activites {
    width: 28%;
    height: 444px;
    border-radius: 20px;
    box-shadow: 4Px 4px 15px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
}

.bloc-activites img {
    height: 389px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.bloc-activites h4 {
    margin: 15px 0 10px 15px;
}

/* fin section activité */
/* debut footer */

footer {
    width: 100%;
    height: fit-content;
    background-color: #F2F2F2;
    margin-top: 50px;
}

.footer {
    display: flex;
}

.footer ul {
    font-size: 18px;
    margin: 30px 90px 10px 50px;
}

.footer li {
    font-size: 16px;
    list-style: none;
    margin: 15px 0 15px 0;
}

@media (max-width: 1024px) {

    main {
        width: 100%;
        margin-left: 15px;
    }

    .container-filtre-recherche {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .container-filtre-recherche p {
        width: 100%;
    }

    .bloc-filtre {
        width: 10%;
    }

    .section-hebergement-aside {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 100%;
    }

    body {
        width: 100%;
    }


    aside {
        width: 100%;
        height: 250px;
    }

    section {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .section-hebergement img {
        height: 124px;
        margin: 5px;
    }
    .section-hebergement h2 {
        width: 100%;
    }

    .section-hebergement a{
        width: 100%;
    }

    .hotel-marseille {
        width: 30%;
        height: 35%;
    }

    .hotel-marseille img {
        height: 140px;
    }


    aside {
        width: 100%;
        height: 250px;
        display: flex;
        flex-wrap: nowrap;
    }

    .section-hotel-populaire {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }


    .hotel-populaire {
        width: 30%;
        height: 144px;
        display: flex;
        justify-content: space-between;
    }

    .hotel-populaire img {
        min-width: 30%;
        max-width: 40%;
        height: 94%;
    }

    .titre-aside {
        width: 100%;
        height: 26px;
    }


    .rating-hebergement {
        font-size: x-small;
        color: #0065FC;
        margin-top: 5px;
    }

    .right-bloc-populaire {
        width: 100%;
    }

    .hotel-populaire h4 {
        font-size: 14px;
    }

    .hotel-populaire p {
        font-size: 13px;
    }

    #activites {
        width: 98%;
        margin-left: 10px;
        display: flex;
        justify-content: left;
    }
    
    .titre-activites {
        margin: 30px 0 20px 0;
        display: flex;
    }
    
    .bloc-activites {
        width: 20%;
        height: 270px;
        border-radius: 20px;
        box-shadow: 4Px 4px 15px rgba(0, 0, 0, 0.2);
        margin-right: 40px;
    }
    
    .bloc-activites img {
        height: 200px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    * {
        padding: 0;
        margin: 0;
    }

    main {
        width: 100%;
    }

    #button-recherche {
        visibility: hidden;
        display: none;
    }

    #logo-recherche {
        
    }

    .section-hebergement-aside {
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
        height: 100%;
    }

    body {
        width: 100%;
        margin: 0px;
    }


    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav img {
        width: 100%;
        object-fit: scale-down;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav li {
        
        display: flex;
        justify-content: space-around;
        Width: 45%;
        padding:20px 0 20px 0;
    }

    nav li:hover {
        color: #0065FC;
        border-bottom: solid 2px #0065FC;
        border-top: none;
    }
    
    nav a:hover {
        color:#0065FC;
    }

    nav h1 {
        width: 100%;
    }

    aside {
        width: 100%;
        height: fit-content;
    }

    section {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .intro-section {
        margin: 0;
        margin-right: 20px;
    }

    .container-filtre-recherche {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .formulaire-recherche {
        display: flex;
        justify-content: center;
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }

     
    #button-rechercher {
        display: none;
    }
    
    #logo-rechercher {
        display: inline;
        margin-right: 20px;
    }

    
    #champ-recherche {
        width: 80%;
    }

    .bloc-filtre {
        width: 40%;
        min-width: 124px;
        font-size: 14px;
        padding: 0;
    }

    .bloc-filtre p {
        display: flex;
        justify-content: center ;
        align-items: center;
        font-size: 12px;
        margin: 0;
        margin-right: 10px;
    }

    .bloc-filtre i {
        margin-left: 5px;
    }
    

    .section-hebergement {
        background-color: white;
        border-radius: 0%;
        width: 100%;
        height: fit-content;
    }

    .section-hebergement img {
        height: 124px;
        margin: 5px;
    }
    .section-hebergement h2 {
        width: 100%;
        height: fit-content;
    }

    .section-hebergement a{
        width: 100%;
    }

    .hotel-marseille {
        width: 90%;
        height: 199px;
    }

    .text-hebergement {
        width: 94%;
    }

    aside {
        width: 100%;
        border-radius: 0%;
    }

    .section-hotel-populaire {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hotel-populaire {
        width: 90%;
        height: 144px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
    }

    .hotel-populaire img {
        min-width: 30%;
        max-width: 40%;
        height: 94%;
    }

    .titre-aside {
        width: 100%;
        height: fit-content;
    }


    .rating-hebergement {
        font-size: x-small;
        color: #0065FC;
        margin-top: 2px;
    }

    .section-hebergement a {
        display: none;
    }

    .right-bloc-populaire {
        width: 100%;
    }

    .hotel-populaire h4 {
        font-size: 14px;
    }

    .hotel-populaire p {
        font-size: 13px;
    }

    #activites {
        width: 100%;  
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section-activites {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .titre-activites {
        margin: 0px 0 20px 0;
        width: 100%;
    }
    
    .bloc-activites {
        width: 85%;
        height: 200px;
        border-radius: 20px;
        box-shadow: 4Px 4px 15px rgba(0, 0, 0, 0.2);
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    
    .bloc-activites img {
        height: 141px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .footer {
        display: flex;
        flex-direction: column;

    }
}